/*1. HEADER - Será la cabecera de la página. - Ocupará el 100% del ancho. - Tendrá una altura de 150px. */
/*Box-sizing hace el padding y el borde*/

*{box-sizing: border-box;}

/*Definimos el tamaño de la fuente ahora 
0.5 rem = 10px 
1rem = 20px 
1.5 rem = 30px 
2 rem = 40px */

html {
    font-size: 20px;
}

/*BODY Estilo generales de todas la pagina*/
body{
    /*Tipo de letra que se utiliza en toda la web*/
    font-family: Arial, Helvetica, sans-serif;
    /*Elimina el margen que pone el navegador por defecto*/
    margin:0;
    /*Color de fondo de la pagina*/
    background-color: #e9eee4;
}

/*Estilos de HEADER*/
header {
    width: 100%;/*ancho pantalla 100%*/
    height: 150px; /*alto fijo de 150px*/
    background-color:azure;
    border: 2px solid grey; 
    text-align: center;
    padding: 1rem;
}

/*Estilos de NAV*/
nav{
    width: 100%; /*ancho pantalla 100%*/
    height: 70px; /*alto fijo de 70px*/
    background-color: paleturquoise;
    border: 2px solid grey;
    text-align: center;
    padding: 0.75rem;/*0.75=15px*/
}
    

nav a{
    color: black;
    text-decoration: none; /* Quita el subrayado feo por defecto */
    margin: 1rem;          /* Corregido: sin espacio entre el 1 y rem */
    padding: 0.5rem 1rem;  /* Añade espacio interno para que el sombreado parezca un botón */
    border-radius: 4px;    /* Suaviza las esquinas del sombreado */
    cursor: pointer;
    transition: 0.3s;      /* Suaviza el cambio de color y fondo */ 
}

nav a:hover {
    color: white;
    background-color: rgb(7, 112, 63);
}

/*Estilos para el div*/
.contenedor{
    width:90%;
    margin: 1rem auto; /*1rem=20px arriba y abajo y auto centra el contenedor horizontalmente*/
    font-size: 0; /*Elimina el espacio entre los elementos inline-block*/
}

/*Estilos para el main*/

.contenedor main{
    width: 70%;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
    display: inline-block; /*Permite colocar el main y el aside uno al lado del otro*/
    vertical-align: top; /*Alinea el main y el aside en la parte superior*/
    padding: 1rem;
    font-size: 1rem;
}

/*Estilos para el aside*/

.contenedor aside{
    width: 30%;
    height: 50vh;
    background-color: bisque;
    border: 2px solid black;
    display: inline-block; /*Permite colocar el main y el aside uno al lado del otro*/
    vertical-align: top; /*Alinea el main y el aside en la parte superior*/
    color: blue;
    padding: 1rem;
    font-size: 1rem;
}

footer{
    background-color: rgb(219, 22, 71);
    width: 100%;
    height: 50vh;
    color: rgb(12, 58, 211);
    padding: 1rem;
    font-size: 1rem;
}

