*{box-sizing:border-box;}
/*Definimos el tamaño de la fuente ahora 
0.5 rem = 10px 
1rem = 20px 
1.5 rem = 30px 
2 rem = 40px */
html{
    font-size: 20px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #a0e65b;
}   

header{
    width: 100%;/*ancho pantalla 100%*/
    height: 10rem; /*alto 10 rem*/
    background: linear-gradient(120deg, blue, red);
    color: white;
    border: 2px solid grey; 
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    box-shadow: 0 4px 10px green;
}

header h1{color: yellow;}

nav{
    width: 100%; /*ancho pantalla 100%*/
    height: 5rem; /*alto 5rem */
    background-color: red;
    border: 2px solid grey;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem;/*0.75=15px*/
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

nav a{
    color: black;
    text-decoration: none; /* Quita el subrayado feo por defecto */
    margin: 1rem;          /* Corregido: sin espacio entre el 1 y rem */
    padding: 1rem;  /* Añade espacio interno para que el sombreado parezca un botón */
    border-radius: 4px;    /* Suaviza las esquinas del sombreado */
    cursor: pointer;
    transition: 0.3s;      /* Suaviza el cambio de color y fondo */ 
    position: relative;
}





nav a:hover {
    color: rgb(38, 8, 204);
    background-color: rgb(216, 140, 25);
    box-shadow: 0 4px 10px rgb(38,8,204);}




.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    min-height: 80vh;
    height: auto;
    background-color: yellow;
    border: 2px solid grey;
    text-align: center;
    padding: 1rem;
    margin: auto;
}


.contenedor main{
    width: 70%; /*ancho pantalla 100%*/
    min-height: 80vh;
    height: auto; 
    background-color: green;
    border: 10px solid grey;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    /*display: inline-block; /*Permite colocar el main y el aside uno al lado del otro*/
    /*vertical-align: top;*/ /*Alinea el main y el aside en la parte superior*/
}

img.bandera{
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;} /*doy formato a las imágenes*/

.contenedor aside{
    width: 28%; /*ancho pantalla 100%*/
    min-height: 80vh;
    height: auto; /*alto fijo de 500px*/
    justify-content: space-between;
    background-color: #5ab406;
    border: 2px solid grey;
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block; /*Permite colocar el main y el aside uno al lado del otro*/
    vertical-align: top; /*Alinea el main y el aside en la parte superior*/
}


table{
    width: 100%;
    height: auto;
    background-color: #e9eee4;
    border: 2px solid rgb(177, 9, 107);
    text-align: center;
    font-size: 28px;
    padding: 1rem;
    /* 1. Junta los bordes de las celdas para que no se vean dobles */
    border-collapse: collapse; 
    /* 2. Opcional: Si quieres un borde exterior diferente (o quitarlo) */
    border: 3px solid grey; 
}

/* 3. Aplica el borde a las celdas para crear las líneas internas */
table th, table td {
    border: 3px solid #1e3506; /* Borde interno más fino o de otro color */
    padding: 8px;
                  /* Espaciado interno para que respire el texto */
}



img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit : contain;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius:  120px;
    transition: 1s;} /*doy formato a las imágenes*/ /*doy formato a las imágenes*/

img:hover{
    transform: scale(1.13) rotate(360deg);
}


footer{
    background-color: rgb(170, 11, 122);
    width: 100%;
    height: 50vh;
    padding: 1rem;
    font-size: 2rem;
}

footer p{
    margin: 1rem;
    color: #eefafa;
}