/*HTML establecemos el tamaño base 1rem = 20px*/
html{
    font-size: 20px;
}

/*BOX-SIZZING hace que el padding y el borde se incluyan dentro del ancho y alto del elemento*/
*{
    box-sizing: border-box;
}

/*ESTILOS PARA EL BODY*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
    color: #263238;
}

/*ESTILOS PARA EL HEADER*/
header{
    width: 100%; /*ocupa el total del ancho*/
    height: 150px; /*altura fija del header*/
    background: linear-gradient(135deg, #176b87, #64ccc5);/*degradado*/
    color: white;
    border-bottom: 3px solid #0f5067;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

header h1{
    margin: 0.5rem;
    color: antiquewhite;
}

/*ESTILOS PARA EL NAV*/
nav{
    width: 100%;
    height: 70px;
    background-color: #143642;
    text-align: center;
    padding: 0.75rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

nav a{
    color: beige;
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

nav a:hover{
    background-color: #64ccc5;
    color: #143642;
}

/*CONTENEDOR*/
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: 1.5rem auto;
    font-size: 0;
    box-shadow: 0 5px 18px rgba(90, 75, 75, 0.1);
    border-radius: 12px;
    overflow: hidden; /*evita que los elementos internos salgan de los bordes redondeados*/
}

main{
    width: 70%;
    min-height: 50vh;
    background-color: white;
    border-right: 1px solid #dbe4e8;
    display: inline-block;
    vertical-align: top;
    padding: 1.5rem;
    font-size: 1rem;
}

main h2{
    color: #176b87;
    margin-top: 0;
}

aside{
    width: 30%;
    min-height: 50vh;
    background-color: #e8f6f6;
    display: inline-block;
    vertical-align: top;
    padding: 1.5rem;
    font-size: 1rem;
}

aside h2,
aside h3{
    color: #176b87;
}

aside li{
    margin-bottom: 0.5rem;
}

/*ESTILOS PARA LA TABLA*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: white;
}

td{
    border: 1px solid #d4e1e5;
    text-align: center;
    padding: 0.5rem;
    transition: 0.3s;
}

td:hover{
    background-color: #eefafa;
}

img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
img:hover{
    transform: scale(1.50) rotate(360deg);
    transition: transform 1s ease;
    
}

/*ESTILOS PARA EL FOOTER*/
footer{
    width: 100%;
    min-height: 120px;
    background-color: #143642;
    color: white;
    text-align: center;
    padding: 1rem;
    border-top: 4px solid #64ccc5;
}

footer p{
    margin: 1rem;
    color: #eefafa;
}